body{
    background-image: url(/img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.h2_title{
    font-size: 4rem;
    text-decoration: overline;
    text-align: center;
}

.btn_cargar{
    background-color: #fdfd85;
    margin: 8px;
    width: 25%;
    padding: 5px 10px;
    border: 0px;
    border-radius: 10px;
    transition: all .2s ease-out;
}

.btn_cargar:hover{
    border: 1px solid black;
    transform: scale(1.1);
    text-align: center;
}

#input_tarea{
    background-color: whitesmoke;
}

.notes{
    border: 1px solid #ffff5a;
    background-color: #fdfd85;
    width: 25%;
    min-height: 100px;
    padding: 3px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn_eliminar {
    background-color: #FF5454;
    color: white;
    border: none;
    border-radius: 10px;
}